body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.about-page {
  margin: 0px 70px;
}
.form {
  max-width:  300px;
  margin:  10px auto;
  padding:  20px 20px;
  background:  #f4f7f8;
  border-radius:  8px;
}

.front-page-img {
  display: flex;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  justify-content: center;
  flex-direction: column;
  padding: 120px;
  text-align: center;
  line-height: 5px;
}

.work-img {
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  padding: 120px;
  text-align: center;
  line-height: 5px;
}

.front_categories {
  padding: 40px 0px;
  
}

.front-page-h1 {
  color: #BF5C00;
  font-size: 60px;
  line-height: 5px;
}

.front-page-h2 {
  color: #333333;
  font-size: 30px;
}

.front-page-h3 {
  color: #083810;
  font-size: 30px;

}

.about-title {
  color: #BF5C00;
  font-size: 20px;
}

.about-person-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 360px;
  min-width: 250px;
}
.job-container {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  line-height: 5px;
  margin: 30px;
}

.job-component-left {
  margin: 20px;
  text-align: left;
  width: 250px;
}

.job-component-center {
  text-align: center;
  margin: 20px;
  width: 200px;
}

.job-component-right {
  margin: 20px;
  width: 200px;

}

.item-container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 360px;
  min-width: 250px;
  
  flex-wrap: wrap;

}
.item-row {
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box-row {
  display: flex !important;
  
}

.page-header {
  color:  #083810;
}

.navbar {
  background-color: #083810;
  color: white;
  font-family: 'Josefin Sans', sans-serif; 
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer {
  background-color: #083810;
  color: white;
  font-family: 'Josefin Sans', sans-serif; 
  padding: 30px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




.navlinkText {
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  color: #FFFFFF !important;
}

.navlinkText:hover {
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: #eed91b !important;
}

.button-24 {
  background: #BF5C00;
  text-decoration: none;
  border: 1px solid #BF5C00;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin: 5px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 150px;
}

.button-24:hover,
.button-24:active {
  background-color: white;
  background-position: 0 0;
  color: #BF5C00;
}

.button-24:active {
  opacity: .5;
}

.button-25 {
  background: #BF5C00;
  text-decoration: none;
  border: 1px solid #BF5C00;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin: 5px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-25:hover,
.button-25:active {
  background-color: white;
  background-position: 0 0;
  color: #BF5C00;
}

.button-25:active {
  opacity: .5;
}

.shadow-box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}